PLC/PLC_base3/Temp/**
PLC/PLC_base3/Binaries/**
PLC/PLC_base3/Diagnosis/**
PLC/PLC_base3/Logical/Visualization/HTML/bower_components/**
PLC/PLC_base3/Logical/Visualization/HTML/node_modules/**
PLC/PLC_base3/Logical/Visualization/HTML/.sass-cache/**
PLC/PLC_base3/Logical/Visualization/HTML/.tmp/**
PLC/PLC_base3/Logical/Visualization/HTML/struct/bower_components/**
PLC/PLC_base3/Logical/Visualization/HTML/struct/node_modules/**
PLC/PLC_base3/Logical/Visualization/HTML/struct/dist/**
PLC/PLC_base3/Logical/Visualization/HTML/struct/.sass-cache/**
PLC/PLC_base3/Logical/Visualization/HTML/struct/.tmp/**
PLC/PLC_base3/Logical/Visualization/build.typ
*.orig
*.set
*.isopen
PLC/PLC_base3/Logical/Revision.var
PLC/PLC_base3/Logical/Visualization/visServ/build.typ
PLC/PLC_base3/Logical/Programs/FileHandling/MachineConfiguration/machineConfiguration/build.typ
PLC/PLC_base3/Physical
PLC/PLC_base3/Logical/Libraries/**

PLC/TCPIPKomm/Temp/**
PLC/TCPIPKomm/Binaries/**
PLC/TCPIPKomm/Diagnosis/**
PLC/TCPIPKomm/Logical/Visualization/HTML/bower_components/**
PLC/TCPIPKomm/Logical/Visualization/HTML/node_modules/**
PLC/TCPIPKomm/Logical/Visualization/HTML/.sass-cache/**
PLC/TCPIPKomm/Logical/Visualization/HTML/.tmp/**
PLC/TCPIPKomm/Logical/Visualization/HTML/struct/bower_components/**
PLC/TCPIPKomm/Logical/Visualization/HTML/struct/node_modules/**
PLC/TCPIPKomm/Logical/Visualization/HTML/struct/dist/**
PLC/TCPIPKomm/Logical/Visualization/HTML/struct/.sass-cache/**
PLC/TCPIPKomm/Logical/Visualization/HTML/struct/.tmp/**
PLC/TCPIPKomm/Logical/Visualization/build.typ
*.orig
*.set
*.isopen
PLC/TCPIPKomm/Logical/Revision.var
PLC/TCPIPKomm/Logical/Visualization/visServ/build.typ
PLC/TCPIPKomm/Logical/Programs/FileHandling/MachineConfiguration/machineConfiguration/build.typ
PLC/TCPIPKomm/Physical
PLC/TCPIPKomm/Logical/Libraries/**

Assets/1semesterproject/Temp/**
Assets/1semesterproject/Binaries/**
Assets/1semesterproject/Diagnosis/**
Assets/1semesterproject/Logical/Visualization/HTML/bower_components/**
Assets/1semesterproject/Logical/Visualization/HTML/node_modules/**
Assets/1semesterproject/Logical/Visualization/HTML/.sass-cache/**
Assets/1semesterproject/Logical/Visualization/HTML/.tmp/**
Assets/1semesterproject/Logical/Visualization/HTML/struct/bower_components/**
Assets/1semesterproject/Logical/Visualization/HTML/struct/node_modules/**
Assets/1semesterproject/Logical/Visualization/HTML/struct/dist/**
Assets/1semesterproject/Logical/Visualization/HTML/struct/.sass-cache/**
Assets/1semesterproject/Logical/Visualization/HTML/struct/.tmp/**
Assets/1semesterproject/Logical/Visualization/build.typ
*.orig
*.set
*.isopen
Assets/1semesterproject/Logical/Revision.var
Assets/1semesterproject/Logical/Visualization/visServ/build.typ
Assets/1semesterproject/Logical/Programs/FileHandling/MachineConfiguration/machineConfiguration/build.typ
Assets/1semesterproject/Physical
Assets/1semesterproject/Logical/Libraries/**

DrawingRobotApp/out/production/app/com/company/DrawingRobot.class
DrawingRobotApp/out/production/app/com/company/DrawingRobotMain.class
DrawingRobotApp/out/production/app/com/company/EdgeDetector.class
DrawingRobotApp/out/production/app/com/company/Luminance.class
DrawingRobotApp/out/production/app/com/company/Picture.class
DrawingRobotApp/out/production/app/com/company/RobotClient.class
DrawingRobotApp/out/production/app/com/company/StringTokenizer.class

DrawingRobotApp/app/Assets/Her/**
DrawingRobotApp/app/Assets/Opgave1/**
DrawingRobotApp/app/Assets/Opgave2/**
DrawingRobotApp/app/Assets/Opgave2Printer/**
DrawingRobotApp/app/Assets/Program/**
