PLC_Code/PLC_base3/Temp/**
PLC_Code/PLC_base3/Binaries/**
PLC_Code/PLC_base3/Diagnosis/**
PLC_Code/PLC_base3/Logical/Visualization/HTML/bower_components/**
PLC_Code/PLC_base3/Logical/Visualization/HTML/node_modules/**
PLC_Code/PLC_base3/Logical/Visualization/HTML/.sass-cache/**
PLC_Code/PLC_base3/Logical/Visualization/HTML/.tmp/**
PLC_Code/PLC_base3/Logical/Visualization/HTML/struct/bower_components/**
PLC_Code/PLC_base3/Logical/Visualization/HTML/struct/node_modules/**
PLC_Code/PLC_base3/Logical/Visualization/HTML/struct/dist/**
PLC_Code/PLC_base3/Logical/Visualization/HTML/struct/.sass-cache/**
PLC_Code/PLC_base3/Logical/Visualization/HTML/struct/.tmp/**
PLC_Code/PLC_base3/Logical/Visualization/build.typ
*.orig
*.set
*.isopen
PLC_Code/TCPIPKomm/Logical/Revision.var
PLC_Code/TCPIPKomm/Logical/Visualization/visServ/build.typ
PLC_Code/TCPIPKomm/Logical/Programs/FileHandling/MachineConfiguration/machineConfiguration/build.typ
PLC_Code/TCPIPKomm/Physical
PLC_Code/TCPIPKomm/Logical/Libraries

PLC_Code/TCPIPKomm/Temp/**
PLC_Code/TCPIPKomm/Binaries/**
PLC_Code/TCPIPKomm/Diagnosis/**
PLC_Code/TCPIPKomm/Logical/Visualization/HTML/bower_components/**
PLC_Code/TCPIPKomm/Logical/Visualization/HTML/node_modules/**
PLC_Code/TCPIPKomm/Logical/Visualization/HTML/.sass-cache/**
PLC_Code/TCPIPKomm/Logical/Visualization/HTML/.tmp/**
PLC_Code/TCPIPKomm/Logical/Visualization/HTML/struct/bower_components/**
PLC_Code/TCPIPKomm/Logical/Visualization/HTML/struct/node_modules/**
PLC_Code/TCPIPKomm/Logical/Visualization/HTML/struct/dist/**
PLC_Code/TCPIPKomm/Logical/Visualization/HTML/struct/.sass-cache/**
PLC_Code/TCPIPKomm/Logical/Visualization/HTML/struct/.tmp/**
PLC_Code/TCPIPKomm/Logical/Visualization/build.typ
*.orig
*.set
*.isopen
PLC_Code/TCPIPKomm/Logical/Revision.var
PLC_Code/TCPIPKomm/Logical/Visualization/visServ/build.typ
PLC_Code/TCPIPKomm/Logical/Programs/FileHandling/MachineConfiguration/machineConfiguration/build.typ
PLC_Code/TCPIPKomm/Physical
PLC_Code/TCPIPKomm/Logical/Libraries