PLC/PLC_base3/Temp/**
PLC/PLC_base3/Binaries/**
PLC/PLC_base3/Diagnosis/**
PLC/PLC_base3/Logical/Visualization/HTML/bower_components/**
PLC/PLC_base3/Logical/Visualization/HTML/node_modules/**
PLC/PLC_base3/Logical/Visualization/HTML/.sass-cache/**
PLC/PLC_base3/Logical/Visualization/HTML/.tmp/**
PLC/PLC_base3/Logical/Visualization/HTML/struct/bower_components/**
PLC/PLC_base3/Logical/Visualization/HTML/struct/node_modules/**
PLC/PLC_base3/Logical/Visualization/HTML/struct/dist/**
PLC/PLC_base3/Logical/Visualization/HTML/struct/.sass-cache/**
PLC/PLC_base3/Logical/Visualization/HTML/struct/.tmp/**
PLC/PLC_base3/Logical/Visualization/build.typ
*.orig
*.set
*.isopen
PLC/PLC_base3/Logical/Revision.var
PLC/PLC_base3/Logical/Visualization/visServ/build.typ
PLC/PLC_base3/Logical/Programs/FileHandling/MachineConfiguration/machineConfiguration/build.typ
PLC/PLC_base3/Physical
PLC/PLC_base3/Logical/Libraries/**

PLC/TCPIPKomm/Temp/**
PLC/TCPIPKomm/Binaries/**
PLC/TCPIPKomm/Diagnosis/**
PLC/TCPIPKomm/Logical/Visualization/HTML/bower_components/**
PLC/TCPIPKomm/Logical/Visualization/HTML/node_modules/**
PLC/TCPIPKomm/Logical/Visualization/HTML/.sass-cache/**
PLC/TCPIPKomm/Logical/Visualization/HTML/.tmp/**
PLC/TCPIPKomm/Logical/Visualization/HTML/struct/bower_components/**
PLC/TCPIPKomm/Logical/Visualization/HTML/struct/node_modules/**
PLC/TCPIPKomm/Logical/Visualization/HTML/struct/dist/**
PLC/TCPIPKomm/Logical/Visualization/HTML/struct/.sass-cache/**
PLC/TCPIPKomm/Logical/Visualization/HTML/struct/.tmp/**
PLC/TCPIPKomm/Logical/Visualization/build.typ
*.orig
*.set
*.isopen
PLC/TCPIPKomm/Logical/Revision.var
PLC/TCPIPKomm/Logical/Visualization/visServ/build.typ
PLC/TCPIPKomm/Logical/Programs/FileHandling/MachineConfiguration/machineConfiguration/build.typ
PLC/TCPIPKomm/Physical
PLC/TCPIPKomm/Logical/Libraries/**
